schemes/enzymeml.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <!-- Roots -->
    <xs:element name="EnzymeMLDocument" type="EnzymeMLDocumentType"/>
    <xs:element name="Creator" type="CreatorType"/>
    <xs:element name="Vessel" type="VesselType"/>
    <xs:element name="Protein" type="ProteinType"/>
    <xs:element name="Complex" type="ComplexType"/>
    <xs:element name="SmallMolecule" type="SmallMoleculeType"/>
    <xs:element name="Reaction" type="ReactionType"/>
    <xs:element name="ReactionElement" type="ReactionElementType"/>
    <xs:element name="Equation" type="EquationType"/>
    <xs:element name="Variable" type="VariableType"/>
    <xs:element name="Parameter" type="ParameterType"/>
    <xs:element name="Measurement" type="MeasurementType"/>
    <xs:element name="MeasurementData" type="MeasurementDataType"/>
    <xs:element name="UnitDefinition" type="UnitDefinitionType"/>
    <xs:element name="BaseUnit" type="BaseUnitType"/>

    <!-- EnzymeMLDocument Definition -->
    <xs:complexType name="EnzymeMLDocumentType">
        <xs:sequence>
            <xs:element name="name" type="xs:string">
                <xs:annotation>
                    <xs:documentation>
                        Title of the EnzymeML Document.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="references" type="xs:string"  maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>
                        Contains references to publications, databases, and arbitrary links to the web.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="created" type="xs:string">
                <xs:annotation>
                    <xs:documentation>
                        Date the EnzymeML document was created.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="modified" type="xs:string">
                <xs:annotation>
                    <xs:documentation>
                        Date the EnzymeML document was modified.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="creators">
                <xs:annotation>
                    <xs:documentation>
                        Contains all authors that are part of the experiment.
                    </xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Creator" type="CreatorType" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="vessels">
                <xs:annotation>
                    <xs:documentation>
                        Contains all vessels that are part of the experiment.
                    </xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Vessel" type="VesselType" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="proteins">
                <xs:annotation>
                    <xs:documentation>
                        Contains all proteins that are part of the experiment.
                    </xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Protein" type="ProteinType" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="complexes">
                <xs:annotation>
                    <xs:documentation>
                        Contains all complexes that are part of the experiment.
                    </xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Complex" type="ComplexType" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="small_molecules">
                <xs:annotation>
                    <xs:documentation>
                        Contains all reactants that are part of the experiment.
                    </xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="SmallMolecule" type="SmallMoleculeType" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="reactions">
                <xs:annotation>
                    <xs:documentation>
                        Dictionary mapping from reaction IDs to reaction-describing objects.
                    </xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Reaction" type="ReactionType" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="measurements">
                <xs:annotation>
                    <xs:documentation>
                        Contains measurements that describe outcomes of an experiment.
                    </xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Measurement" type="MeasurementType" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="equations">
                <xs:annotation>
                    <xs:documentation>
                        Contains ordinary differential equations that describe the kinetic model.
                    </xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Equation" type="EquationType" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <!-- Creator Definition -->
    <xs:complexType name="CreatorType">
        <xs:sequence>
            <xs:element name="given_name" type="xs:string">
                <xs:annotation>
                    <xs:documentation>
                        Given name of the author or contributor.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="family_name" type="xs:string">
                <xs:annotation>
                    <xs:documentation>
                        Family name of the author or contributor.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="mail" type="xs:string">
                <xs:annotation>
                    <xs:documentation>
                        Email address of the author or contributor.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <!-- Vessel Definition -->
    <xs:complexType name="VesselType">
        <xs:sequence>
            <xs:element name="id" type="xs:string">
                <xs:annotation>
                    <xs:documentation>
                        Unique identifier of the vessel.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="name" type="xs:string">
                <xs:annotation>
                    <xs:documentation>
                        Name of the used vessel.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="volume" type="xs:float">
                <xs:annotation>
                    <xs:documentation>
                        Volumetric value of the vessel.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="unit" type="UnitDefinitionType">
                <xs:annotation>
                    <xs:documentation>
                        Volumetric unit of the vessel.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="constant" type="xs:boolean" default="true">
                <xs:annotation>
                    <xs:documentation>
                        Whether the volume of the vessel is constant or not.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <!-- Protein Definition -->
    <xs:complexType name="ProteinType">
        <xs:sequence>
            <xs:element name="id" type="xs:string">
                <xs:annotation>
                    <xs:documentation>
                        Unique internal identifier of the protein.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="name" type="xs:string"/>
            <xs:element name="constant" type="xs:boolean" default="false"/>
            <xs:element name="sequence" type="xs:string">
                <xs:annotation>
                    <xs:documentation>
                        Amino acid sequence of the protein
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="vessel_id" type="xs:string">
                <xs:annotation>
                    <xs:documentation>
                        Unique identifier of the vessel this protein has been used in.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="ecnumber" type="xs:string">
                <xs:annotation>
                    <xs:documentation>
                        EC number of the protein.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="organism" type="xs:string">
                <xs:annotation>
                    <xs:documentation>
                        Organism the protein was expressed in.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="organism_tax_id" type="xs:string">
                <xs:annotation>
                    <xs:documentation>
                        Taxonomy identifier of the expression host.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="references" type="xs:string"  maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>
                        Array of references to publications, database entries, etc. that describe the protein.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <!-- Complex Definition -->
    <xs:complexType name="ComplexType">
        <xs:sequence>
            <xs:element name="id" type="xs:string">
                <xs:annotation>
                    <xs:documentation>
                        Unique identifier of the complex.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="name" type="xs:string"/>
            <xs:element name="constant" type="xs:boolean" default="false"/>
            <xs:element name="participants" type="xs:string"  maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>
                        Array of IDs the complex contains
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <!-- SmallMolecule Definition -->
    <xs:complexType name="SmallMoleculeType">
        <xs:sequence>
            <xs:element name="id" type="xs:string">
                <xs:annotation>
                    <xs:documentation>
                        Unique identifier of the small molecule.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="name" type="xs:string"/>
            <xs:element name="constant" type="xs:boolean" default="false"/>
            <xs:element name="vessel_id" type="xs:string">
                <xs:annotation>
                    <xs:documentation>
                        Unique identifier of the vessel this small molecule has been used in.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="canonical_smiles" type="xs:string">
                <xs:annotation>
                    <xs:documentation>
                        Canonical Simplified Molecular-Input Line-Entry System (SMILES) encoding of the reactant.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="inchi" type="xs:string">
                <xs:annotation>
                    <xs:documentation>
                        International Chemical Identifier (InChI) encoding of the reactant.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="inchikey" type="xs:string">
                <xs:annotation>
                    <xs:documentation>
                        Hashed International Chemical Identifier (InChIKey) encoding of the reactant.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="references" type="xs:string"  maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>
                        Array of references to publications, database entries, etc. that describe the reactant.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <!-- Reaction Definition -->
    <xs:complexType name="ReactionType">
        <xs:sequence>
            <xs:element name="id" type="xs:string">
                <xs:annotation>
                    <xs:documentation>
                        Unique identifier of the reaction.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="name" type="xs:string">
                <xs:annotation>
                    <xs:documentation>
                        Name of the reaction.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="reversible" type="xs:boolean" default="false">
                <xs:annotation>
                    <xs:documentation>
                        Whether the reaction is reversible or irreversible
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="kinetic_law" type="EquationType">
                <xs:annotation>
                    <xs:documentation>
                        Mathematical expression of the reaction.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="species">
                <xs:annotation>
                    <xs:documentation>
                        List of reaction elements that are part of the reaction.
                    </xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="ReactionElement" type="ReactionElementType" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="modifiers" type="xs:string"  maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>
                        List of reaction elements that are not part of the reaction but influence it.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <!-- ReactionElement Definition -->
    <xs:complexType name="ReactionElementType">
        <xs:sequence>
            <xs:element name="species_id" type="xs:string">
                <xs:annotation>
                    <xs:documentation>
                        Internal identifier to either a protein or reactant defined in the EnzymeMLDocument.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="stoichiometry" type="xs:float">
                <xs:annotation>
                    <xs:documentation>
                        Float number representing the associated stoichiometry.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <!-- Equation Definition -->
    <xs:complexType name="EquationType">
        <xs:sequence>
            <xs:element name="equation" type="xs:string">
                <xs:annotation>
                    <xs:documentation>
                        Mathematical expression of the equation.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="unit" type="UnitDefinitionType">
                <xs:annotation>
                    <xs:documentation>
                        Unit of the rate law.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="equation_type" type="EquationTypeType">
                <xs:annotation>
                    <xs:documentation>
                        Type of the equation.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="species_id" type="xs:string">
                <xs:annotation>
                    <xs:documentation>
                        Internal identifier to a species defined in the EnzymeMLDocument, given it is a rate equation.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="variables">
                <xs:annotation>
                    <xs:documentation>
                        List of variables that are part of the equation
                    </xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Variable" type="VariableType" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="parameters">
                <xs:annotation>
                    <xs:documentation>
                        List of parameters that are part of the equation
                    </xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Parameter" type="ParameterType" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <!-- Variable Definition -->
    <xs:complexType name="VariableType">
        <xs:sequence>
            <xs:element name="id" type="xs:string">
                <xs:annotation>
                    <xs:documentation>
                        Unique identifier of the variable.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="name" type="xs:string">
                <xs:annotation>
                    <xs:documentation>
                        Name of the variable.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="symbol" type="xs:string">
                <xs:annotation>
                    <xs:documentation>
                        Symbol of the variable.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <!-- Parameter Definition -->
    <xs:complexType name="ParameterType">
        <xs:sequence>
            <xs:element name="id" type="xs:string">
                <xs:annotation>
                    <xs:documentation>
                        Unique identifier of the parameter.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="name" type="xs:string">
                <xs:annotation>
                    <xs:documentation>
                        Name of the parameter.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="symbol" type="xs:string">
                <xs:annotation>
                    <xs:documentation>
                        Symbol of the parameter.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="value" type="xs:float">
                <xs:annotation>
                    <xs:documentation>
                        Numerical value of the estimated parameter.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="unit" type="UnitDefinitionType">
                <xs:annotation>
                    <xs:documentation>
                        Unit of the estimated parameter.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="initial_value" type="xs:float">
                <xs:annotation>
                    <xs:documentation>
                        Initial value that was used for the parameter estimation.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="upper" type="xs:float">
                <xs:annotation>
                    <xs:documentation>
                        Upper bound of the estimated parameter.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="lower" type="xs:float">
                <xs:annotation>
                    <xs:documentation>
                        Lower bound of the estimated parameter.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="stderr" type="xs:float">
                <xs:annotation>
                    <xs:documentation>
                        Standard error of the estimated parameter.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="constant" type="xs:boolean" default="true">
                <xs:annotation>
                    <xs:documentation>
                        Specifies if this parameter is constant
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <!-- Measurement Definition -->
    <xs:complexType name="MeasurementType">
        <xs:sequence>
            <xs:element name="id" type="xs:string">
                <xs:annotation>
                    <xs:documentation>
                        Unique identifier of the measurement.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="name" type="xs:string">
                <xs:annotation>
                    <xs:documentation>
                        Name of the measurement
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="species_data">
                <xs:annotation>
                    <xs:documentation>
                        Measurement data of all species that were part of the measurement. A species can refer to a protein, complex, or small molecule.
                    </xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="MeasurementData" type="MeasurementDataType" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="group_id" type="xs:string">
                <xs:annotation>
                    <xs:documentation>
                        User-defined group ID to signal relationships between measurements.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="ph" type="xs:float">
                <xs:annotation>
                    <xs:documentation>
                        PH value of the measurement.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="temperature" type="xs:float">
                <xs:annotation>
                    <xs:documentation>
                        Temperature of the measurement.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="temperature_unit" type="UnitDefinitionType">
                <xs:annotation>
                    <xs:documentation>
                        Unit of the temperature of the measurement.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <!-- MeasurementData Definition -->
    <xs:complexType name="MeasurementDataType">
        <xs:sequence>
            <xs:element name="species_id" type="xs:string">
                <xs:annotation>
                    <xs:documentation>
                        The identifier for the described reactant.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="initial" type="xs:float">
                <xs:annotation>
                    <xs:documentation>
                        Initial amount of the measurement data. This must be the same as the first data point in the
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="data_unit" type="UnitDefinitionType">
                <xs:annotation>
                    <xs:documentation>
                        SI unit of the data that was measured.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="time_unit" type="UnitDefinitionType">
                <xs:annotation>
                    <xs:documentation>
                        Time unit of the replicate.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="data_type" type="xs:string">
                <xs:annotation>
                    <xs:documentation>
                        Type of data that was measured (e.g. concentration)
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="prepared" type="xs:float">
                <xs:annotation>
                    <xs:documentation>
                        Amount of the reactant before the measurement. This field should be used for specifying the prepared amount of a species in the reaction mix. Not to be confused with
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="data" type="xs:float"  maxOccurs="unbounded" minOccurs="1">
                <xs:annotation>
                    <xs:documentation>
                        Data that was measured.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="time" type="xs:float"  maxOccurs="unbounded" minOccurs="1">
                <xs:annotation>
                    <xs:documentation>
                        Time steps of the replicate.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="is_simulated" type="xs:boolean" default="false">
                <xs:annotation>
                    <xs:documentation>
                        Whether or not the data has been generated by simulation.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <!-- UnitDefinition Definition -->
    <xs:complexType name="UnitDefinitionType">
        <xs:sequence>
            <xs:element name="base_units">
                <xs:annotation>
                    <xs:documentation>
                        Base units that define the unit.
                    </xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="BaseUnit" type="BaseUnitType" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="id" type="xs:string">
            <xs:annotation>
                <xs:documentation>
                    Unique identifier of the unit definition.
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="name" type="xs:string">
            <xs:annotation>
                <xs:documentation>
                    Common name of the unit definition.
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>

    <!-- BaseUnit Definition -->
    <xs:complexType name="BaseUnitType">
        <xs:attribute name="kind" type="xs:UnitType"  use="required">
            <xs:annotation>
                <xs:documentation>
                    Kind of the base unit (e.g., meter, kilogram, second).
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="exponent" type="xs:integer"  use="required">
            <xs:annotation>
                <xs:documentation>
                    Exponent of the base unit in the unit definition.
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="multiplier" type="xs:float">
            <xs:annotation>
                <xs:documentation>
                    Multiplier of the base unit in the unit definition.
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="scale" type="xs:float">
            <xs:annotation>
                <xs:documentation>
                    Scale of the base unit in the unit definition.
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>

    <!-- Enum EquationType Definition -->
    <xs:simpleType name="EquationTypeType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="assignment"/>
            <xs:enumeration value="initialAssignment"/>
            <xs:enumeration value="ode"/>
            <xs:enumeration value="rateLaw"/>
        </xs:restriction>
    </xs:simpleType>
    <!-- Enum DataTypes Definition -->
    <xs:simpleType name="DataTypesType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="http://purl.allotrope.org/ontologies/quality#AFQ_0000061"/>
            <xs:enumeration value="http://purl.obolibrary.org/obo/PATO_0000033"/>
            <xs:enumeration value="http://purl.allotrope.org/ontologies/quality#AFQ_0000226"/>
            <xs:enumeration value="http://purl.obolibrary.org/obo/PATO_0000018"/>
            <xs:enumeration value="http://purl.allotrope.org/ontologies/result#AFR_0001073"/>
            <xs:enumeration value="http://purl.allotrope.org/ontologies/result#AFR_0002261"/>
        </xs:restriction>
    </xs:simpleType>
    <!-- Enum UnitType Definition -->
    <xs:simpleType name="UnitTypeType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ampere"/>
            <xs:enumeration value="avogadro"/>
            <xs:enumeration value="becquerel"/>
            <xs:enumeration value="candela"/>
            <xs:enumeration value="celsius"/>
            <xs:enumeration value="coulomb"/>
            <xs:enumeration value="dimensionless"/>
            <xs:enumeration value="farad"/>
            <xs:enumeration value="gram"/>
            <xs:enumeration value="gray"/>
            <xs:enumeration value="henry"/>
            <xs:enumeration value="hertz"/>
            <xs:enumeration value="item"/>
            <xs:enumeration value="joule"/>
            <xs:enumeration value="katal"/>
            <xs:enumeration value="kelvin"/>
            <xs:enumeration value="kilogram"/>
            <xs:enumeration value="litre"/>
            <xs:enumeration value="lumen"/>
            <xs:enumeration value="lux"/>
            <xs:enumeration value="metre"/>
            <xs:enumeration value="mole"/>
            <xs:enumeration value="newton"/>
            <xs:enumeration value="ohm"/>
            <xs:enumeration value="pascal"/>
            <xs:enumeration value="radian"/>
            <xs:enumeration value="second"/>
            <xs:enumeration value="siemens"/>
            <xs:enumeration value="sievert"/>
            <xs:enumeration value="steradian"/>
            <xs:enumeration value="tesla"/>
            <xs:enumeration value="volt"/>
            <xs:enumeration value="watt"/>
            <xs:enumeration value="weber"/>
        </xs:restriction>
    </xs:simpleType>

</xs:schema>